<!--action allows you to use the controller method get/post. Post is for submitting the form-->
<form action="/pets/add" method="post" enctype="multipart/form-data">
    <!--Using key value pairs and types-->
    <label for="name">Name: </label>
    <input type="text" name="name">
    
    <label for="price">Price ($): </label>
    <input type="price" name="price" min="0" max="1000000">
    
    <label for="animal">Species: </label>
    <!--Makes a selection list-->
    <select name="animal">
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="fish">Fish</option>
        <option value="bird">Bird</option>
        <option value="hamster">Hamster</option>
        <option value="reptile">Reptile</option>
    </select>
    
    <!--tag field-->
    
    <label for="tags">Tags (comma separated): </label>
    <input type="text" name="tags" id="tags">
    
    <!--Use middleware to help parse multipart/form-data-->
    <label for="image">Image: </label>
    <input id="image" type="file" name="image" accepts="image/*">
    
    <input type="submit">
</form>